<div id="commentModal" class="modal fade" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Comentar Pregunta</h4>
      </div>
      <div class="modal-body">
      <div id="error" class="alert alert-danger" style="display:none"></div>
        <form method="post" id="post-comment" action="/quizes/<%=quiz.id%>/comments" class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-lg-10">
              <input type="text" id="comment" name="comment[texto]" placeholder="Comenta aqui" class="form-control"/>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary" id="quiz-comment">Enviar</button>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function () {
    $("#quiz-comment").click(function(){
        $.ajax({
            type: "POST",
            url: "/quizes/<%=quiz.id%>/comments/",
            data: $('#post-comment').serialize(),
            success: function(data){
                if (data.hasOwnProperty('msg')) {
                  $("#thanks").html(data.msg);
                  $("#thanks").show();
                  $("#commentModal").modal('hide');
                } else {
                  $("#error").html(showError(data.errors));
                  $("#error").show();
                  $("#thanks").hide();
                }
            },
            error: function(data){
                $("#error").html("Se ha producido un error al guardar su comentario");
                $("#error").show();
                $("#thanks").hide();
            }
        });
    });
});

function showError(errors){
  if (errors.length) {
    var msg = "<b>Se han encontrado los siguientes errores:</b><br/>";
    for (var i in errors) {
      msg += "<span>" + errors[i].message + "</span><br/>";
    }
    return msg;
  }
}
</script>
