<div class="form-group">
  <label for="preg" class="col-lg-2 control-label">Pregunta:</label>
  <div class="col-lg-6">
    <input type="text" id="preg" name="quiz[pregunta]" placeholder="<%= quiz.pregunta %>" class="form-control"/>
  </div>
</div>
<div class="form-group">
  <label for="resp" class="col-lg-2 control-label">Respuesta:</label>
  <div class="col-lg-6">
    <input type="text" id="resp" name="quiz[respuesta]" placeholder="<%= quiz.respuesta %>" class="form-control"/>
  </div>
</div>
<div class="form-group">
  <label for="tema" class="col-lg-2 control-label">Tema:</label>
  <div class="col-lg-6">
    <select name="quiz[tema]" class="form-control">
      <% for (index in temas) { %>
        <option value="<%= index %>"><%= temas[index] %></option>
      <% } %>
    </select>
  </div>
</div>
<div class="form-group">
  <div class="col-lg-offset-2 col-lg-10">
    <a href="/quizes" class="btn btn-default" role="button">Cancelar</a>
    <input type="submit" value="Salvar" class="btn btn-success">
  </div>
</div>
